{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>HighTech Jobs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  {% include 'css.html' %}
  </head>
  <body>
<header id="header" class="menustiky"  style="border-bottom: 1px solid black; background-color: rgb(216, 229, 235);">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto "><a href="/" style="color: #084f74; font-weight: bold;">High<samp style="color: #e82898;">TechJobs</samp> </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="" class="logo me-auto"><img src="assets/img/image.png" alt="" class="img-fluid"></a> -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/ ">HOME</a></li>
          <li><a class="nav-link scrollto" href="/about_page">ABOUT</a></li>
          <li><a class="nav-link scrollto" href="/all_job">ALL JOBS</a></li>
          <li><a class="nav-link   scrollto" href="/fresher_only">FRESHER JOB</a></li>
          <li><a class="nav-link scrollto" href="/intern_only">INTERNSHIPS</a></li>
          <li class="dropdown"><a href="#"><span>MORE </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto justify-content-center fs-6" href=""> <i class="fa-brands  fa-whatsapp" style=" font-size: 20px !important;"></i> &nbsp; CHAT WITH US</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  
<!-- End Header -->

<!-- End Header -->
</body>
</html>
 
  