{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>HighTech Jobs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>
<body>
  {% include 'header.html' %}
<section id="services" class="services section-bg mt-0 " >
    <div class="container " >
      <div class="row"  >
        {% for item in job_posting_content %}
        <div class="col-md-8" style="height: auto;  ">
          
            <div class="">
                <h2>{{item.Intership_Title}} | New Grads, Freshers and Experienced </h2>
                <p><span class="text-muted">{{item.published_date}} by</span>Admin</p>
            </div>
            <div class="jobimg mt-4" style="text-align: center;">
                <img src="{{item.photo_intership.url}}" alt="" style="height: 90%; width: 90%;   ">
            </div>
            <div class="mt-5 " style="text-align: center;" >
                <div class="colorh">
                    <a href=""><button class="btn jobpagebtn "> <i class="fab fa-whatsapp ani"></i> <samp class="ani">Join WhatsApp Group For Daily Jobs</samp> </button></a>
                  
                </div>
                <div class="colorh1 mt-3">
                    <a href=""><button class="btn jobpagebtn2 "> <i class="fab fa-telegram "></i> <span>Join Telegram Group For Daily Jobs</span></button></a>
  
                </div>
            </div>
<!-- ---------------------------------------------------------------------------------------------- -->

            <!-- job title , company name  -->
            <div class="p-2 mt-3">
                <p class="jobdiscription"> <span class="fw-bold text-dark"> 
                    Company Name {{item.company_name}} Careers 2023:- </span> 
                     Hiring freshers for <span class="fw-bold text-dark"> {{item.Categary_post}} </span> Fresher and Check Below Details & Eligible Candidates can apply for this position. The detailed eligibility 
                    and application process are given below. <span class="fw-bold text-dark">  ({{item.company_name}}) </span></p>
            </div>

            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3 ">{{item.company_name}} Careers 2023 </p>
                </div>
                <table class="fs-5 mt-5 border"> 
                    <tr class="border">
                        <td> Company Name</td>
                         <td> {{item.company_name}}</td>
                  
                  </tr>
                  <tr class="border">
                       <td>Job Role</td>
                       <td>{{item.roale}}</td>
                    </tr>
                    <tr class="border">
                        <td>Qualification</td>
                        <td>{{item.streams}}</td>
                      </tr> 
                    
                      <tr class="border">
                        <td>Branch</td>
                        <td>Any Branches</td>
                      </tr>   
                      <tr class="border">
                        <td>Batch</td>
                        <td>{{item.Batch}}</td>
                      </tr>   
                      <tr class="border">
                        <td>Salary</td>
                        <td> {{item.Salary}} RS</td>
                      </tr>   
                      <tr class="border">
                        <td>Experience</td>
                        <td>Fresher</td>
                      </tr>   
                      <tr class="border">
                        <td>Location</td>
                        <td>{{item.Location}}</td>
                        
                      </tr>   
                    </table>

            </div>

            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3  ">Eligibility Criteria for App Development Associate at Accenture </p>
                </div>
                <p  class="fs-5">To be eligible for Accenture Hiring App Development Associate role you must have the below eligibility criteria.</p>

                <ul class="fs-5">
                    <li>All streams/branches of B.E/B.Tech/M.E/M.Tech, MCA, and M.Sc. (CSE, IT only) 
                        from 2022 & 2023 year of pass outs with full-time education only</li>
                    <li>Fresher.</li>
                    <li>No active backlogs.</li>
                    <li>No gaps in your Degree course.</li>
                     

                  </ul>
            </div>
            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3  ">Preferred Skills for App Development Associate at Accenture </p>
                </div>
                <ul class="fs-5">
                  {% for day in day_list %}
                  <li>{{ day }}</li>
                  {% endfor %}
                  </ul> 
            </div>

            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3 ">How to Apply for Full Stack Intern Role at BrowserStack?</p>
                </div>
                <p  class="fs-5">To apply for Full Stack Intern Role at BrowserStack Follow the Below steps:</p>
              
                <ul  class="fs-5 mt-2">
                    <li>Click on the APPLY NOW button provided below, you will be redirected to the official BrowserStack Hiring page.</li>
                    <li>Click on the apply button.</li>
                    <li>If you’re not a registered user then create an account.</li>
                    <li>After registration, click on Log In and fill all of your details.</li>
                    <li>Submit your resume and other information.</li>
                    <li>Click on Apply.</li>
                  </ul>
            </div>
            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3 ">What is the Hiring Process for Full Stack Intern Role at BrowserStack?</p>
                </div>
                <p  class="fs-5">The Hiring Process for BrowserStack Full Stack Internship are as follows:</p>
              
                <ul  class="fs-5 mt-2">
                    <li>Resume Shortlisting.</li>
                    <li>Online Assessment  </li>
                    <li>Technical Round.</li>
                    <li>HR Interview</li>
                    <li >  <span class="text-info">Selection </span> </li>
                  </ul>
            </div>
            <hr>
          


            <div class="mt-5">
                <h4>Follow on Instagram : <a href=""  class="menufooter">TechJob Official</a></h4>
                <p class="fs-5">Click Here To : <a href=""  class="menufooter">View All IT JOBS</a></p>
                <p class="fs-5">Click Here To : <a href=""  class="menufooter">View All Internship</a></p>
                <p class="fs-5">Click Here To : <a href=""  class="menufooter">View All Freshers JOBS</a></p>
            </div>

            <div class="mt-5 text-center ">
                <img src="https://jobforfresher.in/wp-content/uploads/2023/06/gif.webp" alt="" style=" width: 150px; height: auto; margin-bottom: 50px;">

                <h5>Apply Link :- <a href="{{item.Applly_link}}" target="_blank" style="color: blue;"  class="menufooter">Click Here</a></h5>
                 
            </div>
            <div class="mt-5">
              {% for item3 in Job_record3 %}
                <p class="fs-5">Also Apply For:  <a href="/main_page_job/{{item3.id}}" class="menufooter">{{item3.id}} {{item3.company_name}} Hiring App Development Associate: Freshers, New Grads and Experienced Apply Now</a></p>
                {% endfor %}
            </div>

            <div class="mt-5">
                <p class="fs-5"> <i class="fa-solid fa-folder"></i> &nbsp;<a href="" class="menufooter"> Home</a>/ 
                 <a href="" class="menufooter">Fresher Jobs</a> /
                 <a href="" class="menufooter">Internships</a></p>
            </div>


            <div class="mt-5">
                <div class="titleinfo">
                    <p class="p-3  ">Disclaimer</p>
                </div>
                <p  class="fs-5">Please note that the information provided above is based on the available details
                     that was given in the actual BrowserStack career page website. For updated and latest 
                    information we will suggest you to visit the official BrowserStack hiring site.</p>
              
               
            </div>

            <section class=""  >
                <div class="container ">
                  <div class="row d-flex    h-100">
                    <div class="col col-md-9 col-lg-7 col-xl-5">
                      <div class="card" style="border-radius: 15px; background-color: #d7eff6; width: 100%;">
                        <div class="card-body p-4 text-black">
                          <div>
                            <h6 class="mb-4">...Admin</h6>
                            <!-- <div class="d-flex align-items-center justify-content-between mb-3">
                              <p class="small mb-0"><i class="far fa-clock me-2"></i>3 hrs</p>
                              <p class="fw-bold mb-0">$90</p>
                            </div> -->
                          </div>
                          <div class="d-flex align-items-center mb-4">
                            <div class="flex-shrink-0">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                                alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                                style="width: 70px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <div class="d-flex flex-row align-items-center mb-2">
                                <p class="mb-0 me-2">@highTechjob</p>
                                <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                                  <li>
                                    <i class="fas fa-star fa-xs"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-xs"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-xs"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-xs"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-xs"></i>
                                  </li>
                                </ul>
                              </div>
                              <div>
                                <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                                  data-mdb-ripple-color="dark">+ Follow </button>
                                <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                                  data-mdb-ripple-color="dark"><i class="fa-brands fa-linkedin"></i> See profile</button>
                                <button type="button" class="btn btn-outline-dark btn-floating btn-sm"
                                  data-mdb-ripple-color="dark"><i class="fas fa-comment"></i></button>

                                 
                              </div>
                            </div>
                          </div>
                          <hr>
                          <p>I am Raj Verma, a Software Engineer, a content writer and Founder @TechAtPhone.
                            I am enthusiastic for tech communities and ready to help freshers to get better job opportunities
                            and to get recent knowledge about tech. Reach Out to me at: rajverma.contact@gmail.com</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>

        <div class="col-md-4 "   >
          <div class="mt-2 border" >
              <div class="card section-bg">
                <div class="card-body">
                   <h2>Social Media</h2>
                </div>
              </div>
        </div>
          <div class="mt-4"  >
              <div class="card section-bg">
                <div class="card-body">
                  <section class="mb-4  sociallogo-zoom">
              
                    <!-- Twitter -->
                    <a
                      class="btn text-white btn-lg m-1"
                      style="background-color: #0ffd6e;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-whatsapp"></i
                    ></a>
              
                    <!-- telegram -->
                    <a
                      class="btn text-white btn-lg m-1"
                      style="background-color: #2d8ae7;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-telegram"></i
                    ></a>
              
                    <!-- Instagram -->
                    <a
                      class="btn text-white btn-lg m-1"
                      style="background-color: #e82898;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>
              
                    <!-- Linkedin -->
                    <a
                      class="btn text-white btn-lg m-1"
                      style="background-color: #0082ca;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn text-white btn-lg m-1"
                      style="background-color: #333333;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                  </section>
                </div>
              </div>
        </div>
    <div class="mt-4"  >
          <div class="card section-bg">
            <div class="card-body">
               <h2>Categories</h2>
            </div>
          </div>
    </div>
    <div class="mt-4"  >
          <div class="card section-bg">
            <div class="card-body categories">
               <a href="" class="menufooter"><h5>Home (373)</h5></a>
               <a href=""  class="menufooter"><h5>Fresher Job's ({{job_posting_count}})</h5></a>
               <a href=""  class="menufooter"><h5>Internships (33)</h5></a>
               <a href=""  class="menufooter"><h5>Work From Home (4)</h5></a>
               
            </div>
          </div>
    </div>
    <div class="mt-4" style="box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1) ;">
      <div class="  section-bg">
        <div class="card-body p-3">
           <h2>Recent Post  </h2>
           {% for i2 in Job_record %}
           <div class="card-body">
            <a href="/main_page_job/{{i2.id}}" ><h5 class="recent_post">{{i2.company_name}} hiring for {{i2.job_title}}| Apply Now</h5></a>   
          </div>
          {% endfor %}
        </div>
      </div>
   </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </section>



  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-links p-3">
            <h4>....Our Social Networks</h4>
            <p >Stay Informed About The Latest All Job's Updates With Our Job Update Website.
               We Provide Timely And Accurate Information On Upcoming All Job's Vacancies, Application Deadlines,
               Exam Schedules, And More All Job's Update. Stay Connected.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-github"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 ml-4 footer-links justify-content-center">
            <h4>Site Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right "></i> <a href="#" class="disable">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><span style="color: #e82898;">HighTech</span>Jobs</h3>
            <p style="margin-top: 20px;">

              <strong>Phone:</strong> 8975488512<br>
              <strong>Email:</strong> talentgigs@example.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix"  >
      <div class="copyright">
        &copy; Copyright <strong><span>RisingStar Developers</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="">Vijay Ghule</a>
      </div>
    </div>
  </footer> 
  {% include 'script.html' %}
</body>
</html>